@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
  display: inline block;
  font-size: 100%;
  width: 1366px;
  height: 768px;
}
header {
  background-color: #3ec1f3;
  width: 1250px;
  height: 110px;
}
#logo {
  float: left;
  margin: 15px 20px 10px 15px;
}

h1 {
  font-family: Red Hat Display, Arial;
  font-weight: 700;
  font-size: 2.827rem;
  margin: 5px 20px 10px 15px;
  padding: 10px;
}
nav {
  display: block;
  float: right;
  margin: 0px 0px 0px 55px;
  padding: 2px 25px;
  overflow: hidden;
  background-color: #ffffff;
  width: 638px;
  height: 110px;
}

li {
  list-style-type: none;
  font-family: Red Hat Display, Arial;
  font-weight: 700;
  font-size: 1.414rem;
  color: #000000;
  text-align: center;
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}
li a {
  text-decoration: none;
}
li a:hover {
  color: #ffbe2f;
}

h2 {
  font-family: Red Hat Display, Arial;
  font-weight: 700;
  font-size: 5.653rem;
  text-align: left;
}
p {
  font-family: Red Hat Display, Arial;
  font-weight: 400;
  font-size: 1.414rem;
}
.myButton {
  box-shadow: 0px 4px 8px 0px #ababab;
  background-color: #ffbe2f;
  border-radius: 40px;
  display: inline-block;
  cursor: pointer;
  color: #f2f7f5;
  font-family: Red Hat Display, Arial;
  font-weight: 400;
  font-size: 20px;
  padding: 14px 27px;
  margin: auto;
  text-decoration: none;
}
.myButton:hover {
  background-color: #ff7235;
}
.myButton:active {
  position: relative;
  top: 1px;
  background-color: #ff7235;
}
.flex-parent {
  display: flex;
}
.flex1 {
  background-color: #3ec1f3;
  width: 700px;
  justify-content: flex-start;
  margin: 0px;
  padding: 10px 15px 10px 15px;
  border: 25px #3ec1f3 solid;
}
.flex2 {
  background-color: #ffffff;
  width: 700px;
  justify-content: center;
}